//
//  RawConverterVersion.xcconfig
//  Enfuse
//
//  Created by Ingemar Bergmark on 2025-03-10
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CURRENT_PROJECT_VERSION = AUTOINCREMENT_FROM_GIT
MARKETING_VERSION = AUTOINCREMENT_FROM_GIT

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = AUTOINCREMENT_FROM_GIT
